h1 {
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  color: #5e689f;
}
.contains-weather {
  font-family: "Courier New", Courier, monospace;
  display: block;
  margin: 0 auto;
  padding: 30px 0;
  max-width: 60%;
  background-color: #e1e3f3;
}

@media only screen and (max-width: 888px) {
  .city {
    margin: 0 auto;
  }
  .contains-weather {
    max-width: 100%;
  }
  .forecast-list {
    padding: 8px 15px 8px 15px !important;
    max-height: 177px;
  }
  .forecast-list h6 {
    text-align: center !important;
    font-size: 24px !important;
    font-weight: 100 !important;
  }
}
@media only screen and (min-width: 888px) {
  .forecast-list h6 {
    margin-top: 2px !important;
    font-size: 22px !important;
  }
}
footer {
  font-size: 14px;
  color: #5e689f;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
body {
  background-color: #e1e3f3;
}

.container {
  padding: 3px;
}

.intro-title {
  margin-top: 10px;
}
